################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HexSystem
/Binaries/Win64
/DerivedDataCache
/Intermediate
/RawContent
/Saved
/Content
/Packaged
/Build
/HexSystem.sln.DotSettings.user
